PORT = 
DATABASE_URL = postgres://{user}:{password}@{hostname}:{port}/{database-name}

SWAGGER_SERVER = https://e-comm-team-brogrammers-bn-staging.onrender.com/

repo_token=aPXmpfA8lSNBRSDziteIAfJWNnuhQXVHv

SALTROUNDS = <number>
JWT_SECRET=somerandomlongstring
POSTGRES_PASSWORD=admin123
POSTGRES_USER=admin
POSTGRES_DB=ecommerce
POSTGRES_HOST=database
POSTGRES_PORT=5432
VERIFY_URL=https://ecommerceee.onrender.com/
SEND_EMAIL=<your email address>
VERIFY_URL=http://localhost:5000/users/verify-email


# Using docker to run application
# If using DOCKER -- docker db config should come LAST otherwise should be FIRST
# What comes last overwrites the first similar env variable

# DOCKER DB CONFIG
DATABASE_URL=postgres://admin:admin123@database:5432/ecommerce
TEST_DATABASE_URL=postgres://admin:admin123@database:5432/test

# LOCAL DB CONFIG
DATABASE_URL=postgres://ishimwe:@localhost:5432/commerce
TEST_DATABASE_URL=postgres://ishimwe:@localhost:5432/test
